<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {{ other_head }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <nav>
            <h1>{{ title }}</h1>
        </nav>
        <div class="container">
            <div class="sidebar">
                {% include 'nav.html' %}
            </div>
            <div class="content">
                <ul>
                    {% for _title, _date, _link in other["posts"] %}
                        <li>
                            <a href="{{ _link }}">
                                <h1>{{ _title }}</h1>
                                <small>{{ _date }}</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <style>
            body {
                background-color: black;
                color: green;
                display: flex;
                flex-direction: column;
            }

            nav {
                margin: auto;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            h1 {
                font-size: 2rem;
                margin-bottom: 1px;
            }

            .container {
                display: flex;
            }
            
            .content {
                padding-right: 50px;
                padding-left: 50px;
            }

            a:link {
                color: cornflowerblue;
            }

            a:visited {
                color: cornflowerblue;
            }

            ul {
                color: cornflowerblue;
            }

            pre > code {
                display: block;
                margin: auto;
                background-color: gray;
            }

            .sidebar ul {
                list-style-type: none;
                margin: 0;
                padding-left: 0;
                padding-top: 50px;
            }


        </style>
        <script>hljs.highlightAll();</script>
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
    </body>
</html>