<h1>grapheo12</h1>
<ul>
    <li><a href="/index.html">About</a></li>
    <li><a href="/tech/index.html">Blogs/Tech</a></li>
    <li><a href="/life/index.html">Blogs/Literature</a></li>
    <li><a href="/lit/index.html">Blogs/Life</a></li>
    <li><a href="/contact.html">Contact</a></li>
</ul>