<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {{ other_head }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <nav>
            <h1>{{ title }}</h1>
            <small>{{ date }}</small>
        </nav>
        <div class="container">
            <div class="toc">{{ toc }}</div>
            <div class="content">{{ content }}</div>
        </div>
        <style>
            body {
                background-color: black;
                color: green;
                display: flex;
                flex-direction: column;
            }

            nav {
                margin: auto;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            nav h1 {
                font-size: 2rem;
                margin-bottom: 1px;
            }

            .toc {
                width: 300px;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }

            .toc > ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .toc a:link {
                color: inherit;
                text-decoration: none;
            }

            .toc a:visited {
                color: inherit;
            }

            .container {
                display: flex;
            }
            
            .content {
                padding-right: 50px;
                padding-left: 50px;
            }

            a:link {
                color: cornflowerblue;
            }

            pre > code {
                display: block;
                margin: auto;
                background-color: gray;
            }


        </style>
        <script>hljs.highlightAll();</script>
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
    </body>
</html>